colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
loguru==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
pyqt5-qt5==5.15.2 ; python_version >= "3.10" and python_version < "4.0"
pyqt5-sip==12.11.0 ; python_version >= "3.10" and python_version < "4.0"
pyqt5==5.15.7 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
